<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rarm_5">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rarm_5 urdf file -->
    <xacro:include filename="$(find urc_arm_description)/urdf/robot_for_setup.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rarm_5.ros2_control.xacro" />


    <xacro:rarm_5_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
